.management-grid {
  grid-template-columns: 0px auto auto 0px;
  grid-template-rows: 60px 60px;
  align-items: center;
  grid-column-gap: 20px;

  &__nav,
  &__title {
    padding: 0px 15px;
  }

  &__bread-crumb {
    grid-column-start: 2;
  }

  &__title {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;

    &--image {
      float: left;
      margin: 0px 15px 0px 0px;
      width: 40px;
    }

    &--h1 {
      font-size: 30px;
      margin: 0 10px 10px 10px;
    }
  }

  .container-product-selector {
    display: inline-flex;
    grid-column-start: 3;
    grid-row-start: 2;
    margin-left: auto;
    align-items: center;

    p {
      margin-right: 15px;
    }
  }
}

.management-info {
  grid-template-columns: 0px 55% auto 0px;
  grid-template-rows: 0px auto;
  grid-column-gap: 20px;
  grid-row-gap: 30px;

  &__shortcut-list {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
  }

  &__alert-list {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
  }
}
