<div class="management-grid grid">
  <nav class="management-grid__nav">Página inicial > Painel de Gestão</nav>
  <div class="management-grid__title">
    <img class="management-grid__title--image"
      src="../../../assets/images/icons/management-panel/icon-globe-inverted.png" alt="Ícone globo">
    <h1 class="management-grid__title--h1">Painel de Gestão</h1>
  </div>
  <div class="management-grid__product-selector">produto:</div>
</div>
<div class="management-info grid">
  <app-shortcut-list class="management-info__shortcut-list"></app-shortcut-list>
  <app-alert-list class="management-info__alert-list"></app-alert-list>
</div>