.management-grid{
    grid-template-columns: 0px auto auto 0px;
    grid-template-rows: 60px 60px auto;
    align-items: center;
    grid-column-gap: 15px;

    &__nav{
        grid-column-start: 2;
    }

    &__title{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
    }

    &__product-selector{
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
    }
}