@import "../../../../shared/styles/variables.scss";

.economic-group-form {
  float: right;

  &__label {
    margin-right: 15px;
  }

  &__select {
    height: 45px;
    width: 170px;
    padding-left: 10px;
    border: 1px solid $light-blue;
  }
}
