@import "../../../../shared/styles/variables.scss";

.economic-group-form {
  float: right;

  &__label {
    margin-right: 15px;
  }

  &__select {
    height: 45px;
    width: 170px;
    padding-left: 10px;
    border: 1px solid $light-blue;
    position: relative;
  }

  &__select:after {
    content: "\f103";
    font-family: FontAwesome;
    font-size: 20px;
    color: #61a5d7;
    padding: 17px 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    pointer-events: none;
  }
}
