<div class="shortcut-container">
    <div class="shortcut-container__title">
        <h3 class="shortcut-container__title--h3">Atalhos</h3>
    </div>
    <div class="shortcut-container__shortcut-list grid">
        <div class="shortcut-container__shortcut-list--operational">
            <h3>Operacional</h3>
            <div class="first-area">
                <a>item 1</a>
                <a>item 1</a>
                <a>item 1</a>
            </div>
            <div class="second-area">
                <a>item 1</a>
                <a>item 1</a>
            </div>
        </div>
        <div class="shortcut-container__shortcut-list--general">
            <h3>Geral</h3>
            <a>item 2</a>
            <a>item 2</a>
        </div>
    </div>
</div>