@import "../../../styles/variables.scss";

$icons-path: "../../../../../assets/images/icons/menu/";

.container-sidebar-menu {
  background-color: $dark-blue;
  min-height: 89.2vh;

  &__ul,
  li p {
    margin: 0px;
  }

  &__ul {
    padding: 0px;
    li {
      list-style-type: none;
      height: 1.4vw;
      padding: 10px 5px 28px 10px;
      border-bottom: 1px solid $light-blue;
      position: relative;

      i {
        width: 40px;
        height: 40px;
        float: left;
        background-size: contain;
        background-repeat: no-repeat;
      }

      img.icon-menu {
        float: left;
        width: 2.6vw;
      }

      a {
        color: $light-color;
        margin-top: 0.6vw;
        display: block;
        margin-left: 3vw;
        font-size: 15px;
      }

      a.active:after {
        content: "";
        opacity: 1;
        display: block;
        position: absolute;
        right: 0;
        top: calc(50% - 13px);
        width: 0;
        height: 0;
        border-top: 13px solid transparent;
        border-right: 13px solid #ebebeb;
        border-bottom: 13px solid transparent;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container-sidebar-menu {
    &__ul {
      img.icon-menu {
        display: none;
      }

      li {
        a {
          margin-left: 0vw;
        }
      }
    }
  }
}
