<nav class="container-sidebar-menu">
  <ul class="container-sidebar-menu__ul">
    <li class="container-sidebar-menu__ul--li">
      <img src="../../../../../assets/images/icons/menu/icon-menu-globe.png" class="icon-menu" alt="Ícone globo" />
      <a>Painel de Gestão</a>
    </li>
    <li class="container-sidebar-menu__ul--li">
      <img src="../../../../../assets/images/icons/menu/icon-menu-at.png" class="icon-menu" alt="Ícone arroba" />
      <a>Conta Digital</a>
    </li>
    <li class="container-sidebar-menu__ul--li">
      <img src="../../../../../assets/images/icons/menu/icon-menu-graph.png" class="icon-menu" alt="Ícone gráfico" />
      <a>Ant. de Recebíveis</a>
    </li>
  </ul>
</nav>