<div class="alert-container">
  <div class="alert-container__title">
    <h3 class="alert-container__title--h3">Alertas</h3>
    <p class="alert-container__title--p">Últimos 5 dias</p>
  </div>
  <div class="alert-container__alert-list">
    <ul class="alert-container__alert-list--ul">
      <li>
        <p>23 Notas Canceladas</p>
      </li>
      <li>
        <p>23 Notas Canceladas</p>
        <app-option-selector [optionList]="actionItems" (selected)="selectActionOption($event)"></app-option-selector>
      </li>
      <li>
        <p>7 Assinaturas Digitais</p>
        <app-option-selector [optionList]="actionItems" (selected)="selectActionOption($event)"></app-option-selector>
      </li>
    </ul>
  </div>
</div>