<div class="user-area-notification icon">
  <i class="user-area-notification__notifications">3</i>
</div>
<form [formGroup]="userAreaForm" class="user-area-form">
  <select type="select" formControlName="userName" name="userName" (change)="onChange($event.target.value)"
    class="user-area-form__select">
    <option selected="selected" value="visao1" [selected]="true">Sandra Oliveira</option>
    <option value="visao2">Paulo Roberto</option>
    <option value="visao3">SRM ADMIN</option>
  </select>
  <div class="user-area-form__prev icon">
    <i></i>
  </div>
</form>