/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/shared.scss";

body {
  background-color: $dark-gray;
  margin: 1vh 1vh;
}

.grid {
  display: grid;
}
